@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit";
}

@theme {
  --color-primary: #5f6fff;
}

/* This will style the hr inside active NavLink */
.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}


.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width:740px) {
  .active p{
    @apply text-white bg-primary
  }
}




